
.carousel-inner > .item > img {
    margin: 0 auto;
    height: 300px;
}

#carousel{
}

#nav1{
    margin-left: 175px;
    color: #33469c;
}
#nav2{
    margin-left: 50px;
    color: #33469c;
}
#nav3{
    margin-left: 50px;
    color: #33469c;
}

#banner{
    background: white;
    background: linear-gradient(to right, white 45% , #33469c);
}

#logo{
    width: 400px;
}

#info{
    color: white;
}

#email{
    text-decoration:none !important;
    color: white;
}

#footer{

}

#par{
    margin: 50px 175px;
}